.container{
    display: grid;
    gap: 5px;
    /* the following autofit-minmax features ensure that the page is responsive. */
    grid-template-columns: repeat(auto-fit,minmax(101px,1fr));
    grid-auto-rows: 101px;
    grid-auto-flow: row dense;
}

/* vertical photos */
.v{
    grid-row: span 2;
}
/* horizontal photos */
.h{
    grid-column: span 2;
}
/* big photos */
.b{
    grid-column: span 2;
    grid-row: span 2;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}